* {
    box-sizing: border-box;
}

body {
    background-color: orange;
}





@media only screen and (min-width:300px) {

    body {
        background-color: darkolivegreen
    }

    #small{width: 66%;} 
    #medium{width: 33%;}
    #large{width: 100%; }
    
    
   
    }




@media only screen and (min-width:768px) {


    body {
        background-color: skyblue;
    }

     #small{width: 33%;} 
    #medium{width: 33%;}
    #large{width: 33%; }
    
    
    div{float: left;}
    
    

}
